.notifyjs-bootstrap-error {
    color: #721c24!important;
    background-color: #f8d7da!important;
    border-color: #721c24!important;
    padding: 20px!important;
    text-align: center!important;
    background-image: url(/static/images/bug.png)!important;
}
